@model List<Product>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">TABLO SEPETİM</h1>
            <p class="lead fw-normal text-white-50 mb-0">"EVİNİZ ZEENGİN GÖZÜKSÜN"</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                @await Component.InvokeAsync("ProductItem", new{title = item.Title, starCount = item.StarCount ,oldPrice = item.OldPrice, price=item.Price , imageUrl=item.ImageUrl, isSale=item.IsSale})

            }


        </div>
    </div>
</section>