@model List<SliderList>

<section class="slider mt-4">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
				@foreach (var item in Model)
				{
					<div class="slider-item">
					<div class="slider-item-content">
						<div class="post-thumb mb-4">
								<a asp-controller="Blog" asp-action="Detail">
									<img src="@item.ResimYolu"  alt="" class="img-fluid">
							</a>
						</div>
						<div class="slider-post-content">
							<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">@item.Baslik</span>
								<h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">@item.Name</a></h3>
								<span class=" text-muted  text-capitalize">@item.Yazi</span>
						</div>
					</div>
				</div>
				}
				
			</div>
		</div>
	</div>
</section>